<h1 style="display: flex; align-items: center; justify-content: center;"> {{currentTopicName}}</h1>
<mat-card class="comment-card"  *ngFor="let comment of comments">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ usernames[comment.userId] }}</mat-card-title> 
    <mat-card-subtitle>{{ comment.time | date:'short' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="editingComment !== comment">
    <p>{{ comment.content }}</p>
  </mat-card-content>
  <div *ngIf="editingComment === comment" style="padding: 0px 20px 0px 20px;">
    <mat-form-field appearance="fill" class="wide-textarea" style="width: 100%;">
      <mat-label>Edit Comment</mat-label>
      <textarea matInput [(ngModel)]="comment.content" rows="3"></textarea>
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
    <button mat-button (click)="submitEdit(comment)">Save</button>
    <button mat-button (click)="cancelEdit()">Cancel</button>
  </div>
  

  <mat-card-actions *ngIf="isCurrentUserAuthorOfComment(comment)">
    <button mat-icon-button (click)="openConfirmDialog(comment.id)" *ngIf="userPermissions?.deletePermission" aria-label="Decline comment">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="startEdit(comment)" *ngIf="userPermissions?.editPermission" aria-label="Edit comment" [disabled]="editingComment !== null">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
  
</mat-card>

<div class="comment-form">
  <div class="wrapper-comment">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Write your comment here..." [(ngModel)]="newCommentContent" [disabled]="!userPermissions?.addPermission"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="postComment()" [disabled]="!userPermissions?.addPermission">Publish</button>
</div>

  <div class="pagination-controls">
    <button mat-icon-button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="previous-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="page-number">Page {{currentPage}}</span>
    <button mat-icon-button (click)="changePage(currentPage + 1)" [disabled]="currentPage * limit >= totalComments" class="next-button">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  
</div>


<ng-template #confirmDialog>
  <h2 mat-dialog-title>Delete Comment</h2>
  <mat-dialog-content>Are you sure you want to delete this comment?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Yes</button>
    <button mat-button [mat-dialog-close]="false">No</button>
  </mat-dialog-actions>
</ng-template>

