
<div class="main-container">
<mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="secondary" style="margin-left: 30px;" (click)="signInWithGitHub()">
          <i class="fa fa-github"></i> GitHub
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </mat-card-actions>
  </mat-card>
</div>
  