.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh; /* Ensures that the container takes at least the full height of the viewport */
    background-color: #f7f7f7; /* Or any background color you prefer */
  }
  
  .login-card {
    max-width: 500px; /* Increased from 400px */
    width: 90%; /* Ensures it doesn't get too wide on smaller screens */
    margin: 2em;
    padding: 2em; /* Increased padding for more space inside */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow around the card */
    font-size: 1.1em; /* Slightly larger text for better readability */
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1em; /* Add more space between input fields */
  }
  
  button {
    padding: 15px 20px; /* Bigger button for better clickability and visual impact */
    font-size: 1.1em; /* Larger text on the button */
  }
  .github-icon {
    font-family: 'Material Icons'; /* Ensure correct font-family */
    margin-right: 8px; /* Adjust the margin as needed */
  }